* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}
@keyframes Animation_name {
  25% {
    color: #bdc3c7;
  }
  50% {
    color: #d35400;
  }
  75% {
    color: #e67e22;
  }
  100% {
    color: #f1cc40;
  }
}

body {
  background-image: url("backgroundImg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.road {
  width: 500%;
  height: 100px;
  background-image: url("Road.PNG");
  position: absolute;
  bottom: 0px;
  animation-name: road;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 1;
}
@keyframes road {
  100% {
    transform: translate(-3000px);
  }
}
.city {
  background-image: url("buildingImg.png");
  width: 500%;
  height: 350px;
  position: absolute;
  bottom: 100px;
  animation-name: city;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes city {
  100% {
    transform: translate(-1400px);
  }
}
.car {
  width: 400px;
  position: absolute;
  top: 470px;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
}
.car img {
  width: 100%;
  animation-name: car;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes car {
  0% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(2px);
  }
}
.wheel {
  top: 568px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 3;
  overflow-y: hidden;
  width: 274px;
  display: flex;
  justify-content: space-between;
}
.wheel img {
  width: 72px;
  height: 72px;
  animation-name: wheel;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
}
@keyframes wheel {
  100% {
    transform: rotate(360deg);
  }
}
.front-wheel {
  left: -204px;
  overflow-y: hidden;
}
.back-wheel {
  left: 25px;
  overflow-y: hidden;
}
